<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container" id="demo">
        <input type="text" class="form-control" v-model="name">
        <ul>
            <li v-for="i in names">{{i}}</li>
        </ul>
        <pre>{{$data|json}}</pre>
    </div>
</body>
</html>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script>
    new Vue({
        el:'#demo',
        data:{
            name:'Jelly',
            names:['Jelly','Bob']
        }
    })
</script>